target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

.idea/
src/test/resources/twilio.properties
src/test/resources/features/devel
src/test/java/com/example/playwright/steps/DevelGlue.java
cookie.properties
config.properties
twilio.properties
device.properties
qa_computer.properties
secrets.local.properties